# 飞书应用配置
FEISHU_APP_ID=cli_xxxxxxxxxxxxxx
FEISHU_APP_SECRET=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

# 飞书多维表 ID（database_id，即多维表的 app_token，从 URL 中获取）
FEISHU_DATABASE_ID=P0pabCuTJaIKsRsxRedcR2Kwn3d

# 飞书多维表中的表格 ID（table_id）
FEISHU_TABLE_ID_PODCAST=tblhZXsZ6Ie0511X
FEISHU_TABLE_ID_MAIN_POINTS=tblKKboiJSqFPm87
FEISHU_TABLE_ID_CONCEPTS=tbloBFsg7Ly29BSM
FEISHU_TABLE_ID_RESOURCES=tblXZMaE8Fmw18RX
